<?xml version="1.0" encoding="utf-8"?>
<settings>
    
    
    
    
    
<filename>config.xml</filename><fullscreen>false</fullscreen><sound>false</sound><highscores>
        
        
        
        
        
    <highscore>5150</highscore><highscore>4880</highscore><highscore>4510</highscore><highscore>4100</highscore><highscore>3000</highscore></highscores><playerdata><17><playerId>17</playerId><currentLevel>1</currentLevel><health>150</health><playerName>KILLER</playerName><lastSaved>09/30/24 15:13:38</lastSaved></17><12><playerId>12</playerId><currentLevel>1</currentLevel><health>150</health><playerName>JAFFA</playerName><lastSaved>12/20/23 17:05:20</lastSaved></12><13><playerId>13</playerId><currentLevel>1</currentLevel><health>150</health><playerName/><lastSaved>12/20/23 17:15:30</lastSaved></13><15><playerId>15</playerId><currentLevel>1</currentLevel><health>150</health><playerName>JAFFA</playerName><lastSaved>02/22/24 21:08:23</lastSaved></15><16><playerId>16</playerId><currentLevel>1</currentLevel><health>150</health><playerName>TEST</playerName><lastSaved>02/22/24 21:09:03</lastSaved></16></playerdata></settings>